.floating-top-right {
    position: relative;
    display: inline-block; 
    vertical-align: top;
}

.left-sidebar {
    display: inline-block; 
    position: absolute;
    margin-left: 60px;
}

.centered-play-embed {
    width: 80%;
    height: 80%;
    display: inline-block;
}